<div style="margin-top: 100px"></div>
<section id="business" class="business bg-grey roomy-40">
	<div class="container">
		<div class="row">
			<div class="main_business">
				<div class="col-md-12">
					<div class="business_slid">
						<div class="slid_shap bg-grey"></div>
						<div class="business_items text-center">
							<div class="business_item">
								<div class="business_img">
									<img src="<%= data.gambar %>" style="width: 50%;" >
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="business_item sm-m-top-50">
						<p class="m-top-20">Tanggal: <%= data.tanggal %></p>
						<h2 class="text-uppercase"><strong><%= data.judul %></strong></h2>
						<p class="m-top-20">Penyunting <%= data.penyunting %></p>
						<br>
						<p class="m-top-20">Penyunting <%= data.isi %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>